body {
    font-family: 'Roboto Condensed', sans-serif;
}

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

li {
    list-style: none;
}

.done-true {
    text-decoration: line-through;
    color: grey;
}

.done-false {
    color: black;
}

.dimmed, .delete, .edit{
    color: grey;
}